.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App>h1{
  color: blue;
}
.products{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
}
.product{
padding: 40px;

align-items: center;
}
.products img{
  width: 80%;
  margin-bottom: 55px;
}
button{
  font-size: 18px;
  padding: 8px;
  background: chocolate;
  color: white;
}
header{
  background-color: rgb(197, 44, 69);
  height: 70px;
  padding-top: 20px;
}
